@import "./utils/fonts";
@import "./utils/vars";

@import "header";
@import "decor-button";
@import "services";
@import "whatsapp";
@import "benefits";
@import "locations";
@import "footer";
@import "slider";
@import "arrow";

body {
  text-align: center;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

h2 {
  font-family: $six-caps;
  font-weight: 100;
  color: $color-yellow;
  letter-spacing: 2px;
}

p {
  font-family: $trebuchet-mS;
}

::selection {
  color: #fff;
  background: #333;
}
